@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

@font-face {
  font-family: biotif;
  src: url(fonts/biotif.woff2);
}
@font-face {
  font-family: bogart;
  src: url(fonts/bogart-med.woff2);
}
@font-face {
  font-family: bogart;
  src: url(fonts/bogart.woff2);
  font-weight: bold;
}

html,
body {
  padding: 0;
  margin: 0;
  display: relative;
  overflow-x: hidden;
  font-family: biotif;
  font-size: 1.1em;
  background-color: var(--bg2);
}

.navbar-dark .navbar-nav .nav-link {
  text-decoration: none !important;
  color: white !important;
  background-color: var(--bg2) !important;
}

:root {
  --bg2: #111111;
  --bg2-acent: #191919;
  --bg-colour: #151414;
  --bg-acent: #101011;
}
