html,
body {
  margin: 0;
  padding: 0;
  font-family: "Akshar", sans-serif;
  color: white;
  background: #252525;
  position: relative;
  overflow-x: hidden;
}

h1 {
  margin: 0;
  padding: 0;
  position: fixed;
  font-size: 3em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
